<!-- Footer -->
<footer class="page-footer font-small pt-4">
  
  <div class="container text-center text-md-left">

    <div class="row">
        
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-2">Nebulosa web</h5>

        <p>
          Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit.
        </p>
      </div>
      
      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-2">Servicios</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/servicios#web">Desarrollo y diseño web</a>
          </li>
          <li>
            <a href="/servicios#diseno_grafico">Diseño grafico</a>
          </li>
          <li>
            <a href="/servicios#redes_sociales">Redes sociales</a>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-4 mx-auto contact">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-2">contactos</h5>

        <ul class="list-unstyled">
          <li>
            <i class="fab fa-whatsapp"></i> {{phone}}
          </li>
          <li>
            <i class="far fa-envelope"></i> {{email}} 
          </li>
          <li>
            <a href="{{fc}}" target="_blank"><i class="fab fa-facebook-f" ></i> Facebook</a>
          </li>
          <li>
            <a href="{{ins}}" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <hr>

  <div class="footer-copyright text-center py-3">© {{getAnio}} Copyright:
    <a href="/"> nebulosaweb.net</a>
  </div>
</footer>
